.Track {
    margin: 0.5rem 1rem;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    border-bottom: thin solid var(--near-white-color);

}

.prePlayBtn {
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: thin solid var(--near-white-color);
    border-radius: 50%;
    color: var(--near-white-color);
    cursor: pointer;
}


.trackInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 1rem;
}

.plusBtn {
    background-color: transparent;
    border: none;
    color: var(--near-white-color);
    cursor: pointer;
}
.plusBtn i {
    font-size: 1.1rem;
}

/* Mobile adaptation */
@media (max-width: 320px){
    .prePlayBtn {
        display: none !important;
    }
}