
.Playlist {
    width: 400px;
    background-color: var(--primary-transparent);
    margin: 1.5rem 1rem 0;
    display: flex;
    flex-direction: column;
}
/* Mobile adaptation */
@media (max-width: 1024px) {
    .Playlist {
        height: 100%;
        margin-top: 0;
    }
}
.playlistInput {
    font-size: 1.4rem;
    margin: 1.5rem 2.5rem 1rem;
    padding-left: 5px;
    border: none;
    border-bottom: thin solid;
    background-color: transparent;
    color: var(--near-white-color);
    font-weight: 550;
}

.playlistBtns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Playlist-save {
    margin: 1rem 0.5rem;
    width: 200;
    padding: 10px;
    color: var(--near-white-color);
    background-color: transparent;
    border: solid thin var(--near-white-color);
    border-radius: 20px;
    cursor: pointer;
}

.clearBtn {
    margin: 1rem 0.5rem;
    width: 200;
    padding: 10px 15.69px;
    color: var(--near-white-color);
    background-color: transparent;
    border: solid thin var(--near-white-color);
    border-radius: 20px;
    cursor: pointer;
}

